// Layout Utilities

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }

.oh    { overflow: hidden; }
.left  { float: left; }
.right { float: right; }

.clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

br.clear{
	clear: both;
}

.ellipses{ text-overflow: ellipsis;}

.hidden{
  display: none;
}


.circle{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.fit { max-width: 100%; }

.full-width { width: 100%; }
.quarter-3-width { width:74%; padding-right: 1%;}
.half-width { width: 50%; }
.full-height{ height: 100%; }
.inherit-height{ height: inherit; }
.fit-height {height: 100%;}

// Responsive states
.mobile-show { display: none !important; }
@media screen and (max-width: 48em) {
  .mobile-show,
  .mobile-block  { display: block !important; }
  .mobile-block  { width: 100%; }
  .mobile-hide   { display: none !important; }
  .mobile-center { text-align: center; }
}

