@import "variables";
@import "colors";
@import "margins";
@import "padding";
@import "utilities";
@import "positions";

// Components
@import "grid";




html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fff;
  font-family: "Gotham Medium", "Helvetica Neue", sans-serif; font-weight: regular;
}

body{
	position: relative;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#pane-selector{
	height: 100%;
	width: 100%;
	color: #602D6C;
}

a{
	text-decoration: none;
}

.favorites-bar{
	border-top: #2b1430 solid 1px;
	background: #602D6C;
	color: white;
	max-height: 40px;
	p{
		font-size: .6em; 
		padding: .25em 0;
		&.add-stores{
			background: #2b1430;
			padding: .5em;
			border-radius: .25em;
		}
	}
	font-weight: normal;
	text-transform: uppercase;
	padding: 1em;
}

#search-picture, #kohls-picture, #offer-picture, #mall-picture{
	height: 100%;
	width: 100%;
	z-index: 900;
	position: absolute;
	top:0;
	left:0;
}
#search-picture{
	background: url(../img/search.jpg) no-repeat top left;
	-webkit-background-size: cover;
	background-size: cover;
}

#kohls-picture{
	background: url(../img/store.jpg) no-repeat top left;
	-webkit-background-size: cover;
	background-size: cover;
}

#mall-picture{
	background: url(../img/mall.jpg) no-repeat top left;
	-webkit-background-size: cover;
	background-size: cover;
}

#offer-picture img{
	width: 100%;
}

#favorites-picture, #saved-picture{
	height: 100%;
	width: 100%;
	position: absolute;
	top:105px;
	left:0;
	img{
		width: 100%;
	}
}

.me-container{
	padding: 3em .5em 2em;
	background: #F2F2F2;

}

.profile-area{
	background: #fff;
	padding: 1em;
	a{
		font-size: .75em;
	}
	h4{
		margin-top: 0;
		margin-bottom: .5em;
	}
	p{
		font-size: .75em;
		margin: .25em 0;
		&.field-label{
			font-size: 1em;
		}
	}
	core-icon{
		margin-right: .5em;
		fill: rgba(0,0,0,.25)
	}
	.button{
		text-align: center;
		&.button-small{
			font-size: .5em;
		}
	}
}

.section-header{
		margin-bottom: .5em;
		text-transform: uppercase;
		span{
			font-size: .75em;
			float: right;
		}
	}

.me-area{
	padding-bottom: 1em;
	li{
		padding: 1em .5em;
		background-color: #fff;
		margin-bottom: .5em;
		border-radius: .25em;
	}
}

.setting-area{
	background: #fff;
	border-radius: .25em;
	li{
		h4{
			margin-top: 0;
		}
		border-bottom: 1px solid #ECECEC;
		padding: 1em;
		&:last-child{
			border-bottom: none;
		}
		.need-space{
			margin-right: 2em;
		}
	}
}

.toggle{
	color: white;
	padding: .25em 1em;
	background: #36A6CF;
	margin: 0;
}
.photo-area{
	text-align: center;
	margin-right: 1em;
}
.photo-box{
	width: 80px;
	height: 80px;
	background: rgba(0,0,0,.15);
}

.pane{
	display: none;
	&.core-selected{
		display: block;
		height: 100%;
		width: 100%;
		position: relative;
	}
}

.signup{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	display: none;
	&.display{
		display: block;
	}
}

.signup-container{
	position: relative;
	min-height: 100%;
	width: 100%;
	background: #F7F7F7;
}

.signup-page{
	padding: 2em;
	background: #F7F7F7;
	h2,p{
		text-align: center;
	}
	.button{
		text-align: center;
		text-transform: none;
		border-radius: 6em;
		margin: 0 auto;
		&.facebook{
			background: url(../img/facebook-f.png) no-repeat 1.5em center #3C5A98;
			background-size: 11px 23px;
			padding-left: 2.5em;
			position: relative;
		}
	}
	.divider{
		padding: 1em;
		text-align: center;
		color: rgba(0,0,0,.25)
	}
}

.transition-page{
	.top-image{
		display: block;
		width: 80%;
		margin: 1em auto;

	}
	position: absolute;
	transition: .5s;
	display: none;
	&.viewing{
		display: block;
	}
}

.bumper-top{

}

paper-input{
	width: 100%;
	color: rgba(96,45,108, .5);
	margin: 1em 0;
}

.modal-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0,0,0,.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 0;
	left: 0;
	z-index: 900;
	padding-bottom: 20px;
}

.merchant-list-area{
	width: 100%;
	.merchant-info{
		width: 100%;
		border-bottom: #E0E0DC dashed 1px;
		padding: 1em;
		position: relative;
		&.popular:after{
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 40px 40px 0 0;
			border-color: #602D6C transparent transparent transparent;
			content: '';
		}
		.rank{
			position: absolute;
			top:.1em;
			left: .1em;
			color: white;
			z-index: 1;
		}
		.save{
			top: 1em;
			right: 1em;
		}
		&:last-child{
			border-bottom: #E0E0DC solid 1px;
		}
	}
	.merchant-left{
		margin-right: 1em;
		p{text-align: center;}
		
	}
	.merchant-logo{
		width: 4em;
		height: 4em;
	}
	p,h4{
		margin: .5em;
	}
	.coupon-info{
		padding-right: 2em;
	}
}

.unstyled{
	margin:0;
	padding:0;
	list-style: none;
}

#location-modal{
	display: none;
}

.inapp-bg{
	position: absolute;
	background: #fff;
	width: 100%;
	height: 100%;
	top: 105px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 0;
	left: 0;
	z-index: 900;
}

#restaurants-signup-modal{
	display: none;
}

.popup{
	width: 100%;
	padding: 1em;
	height: 100%;
	.button{
		font-size: .75em;
		text-align: center;
		width: 100%;
		background: #0995C3;
		padding: 1.25em 1.5em;
	}
}

.modal{
	width: 90%;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	margin: 20% auto 0;
	position: relative;
	text-align: center;
	border-radius: .25em;
	&.location{
		background: url(../img/goldhills.png) no-repeat bottom center #fff;
		-webkit-background-size: 100%;
		background-size: 100%;
		.location-head-icon{
			width: 50%;
			margin: 0 auto;
			img{ display: block; width: 100%;}
		}
	}
	.button{
		font-size: .75em;
		text-align: center;
		width: 100%;
		background: #0995C3;
		padding: 1.25em 1.5em;
		&.location-button{
			background: #22B38B;
		}
	}
	&.restaurant{
			padding-top: 4em;
			margin: 30% auto 0;
			.top-banner{
				display: block;
				width: 70%;
				position: absolute;
				top: -3em;
				right: 0;
				left: 0;
				margin: 0 auto;
			}
			.button{
				width: 50%;
				border-radius: 6em;
				margin: 0 auto;
			}
			.x-out{
				top: -4em;
			}
		}
	.x-out{
		position: absolute;
		top: .5em;
		right: .5em;
		width: 30px;
		img{
			display: block;
			width: 100%;
		}
	}
}

/**** Merchant Logo Stuff ****/
.merchant-logo{
	width: 60px;
	height: 60px;
	margin-right: .5em;
	background: #fff;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&.large{
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}
	img{
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
}



.rmn-secondary{
	img{
		display: block;
		margin: auto;
		-webkit-transform: scale(.5);
		-ms-transform: scale(.5);
		-o-transform: scale(.5);
		transform: scale(.5);
	}

}
core-scroll-header-panel, core-header-panel{
  display: none;
  transition: .5s ease;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  &.core-selected{
  	display: block;
  }
}

.bumper{
	width: 100%;
	height: 64px;;
}

core-toolbar{
  background: #602D6C;
  color: white;
  z-index: 100;
}

.navbar{
	background: white;
	color: #602D6C;
}

#tabs paper-tab::shadow #ink{
	color: #602D6C;
}

.top-nav{
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
    text-transform: uppercase;
}
.search-container{
	display: block;
	padding: .25em;
	border-radius: 3px;
	border: 1px dashed #3d0e4f;
	border-radius: 3px;
	width: 100%;
	position: relative;
}

/*core-field core-input::shadow input#input{
	color: white;
}*/

.search-container core-field{
	background: #3d0e4f;
	border-radius: 3px;
	color: white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search-container img{
	width: 185px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 500;
	top: -32px;
}

.container{
	width: 100%;
	height: 100%;
	background: #fff;
}

.merchant-tiles{
	text-align: center;
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{
		display: block;
		width: 33%;
		padding: 1em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		.merchant-logo{
			width: 100%;
			padding: 1em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		p{
			padding-top: .5em;
			text-align: center;
		}
	}
	core-icon{
		fill: #ea4545;
		margin-bottom: 6px;
	}
}

/* Offers Markup */
#ourBest{
		margin: 3px;
	}

	.merchant-info{
		padding: .5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-top: #f0f0f0 solid 1px;
	}

	.distance, .merchant-name{
		height: 100%;
		vertical-align: middle;

	}

	.distance span{
		color: rgba(0,0,0,.2);
	}

	.deal-info{
		background-color: #fcfcfc;
		border-bottom: 1px #784c82 solid;
	}

	.deal-info ul{
		list-style: none;
		padding-left: 0;
		margin: 0;
		padding: 0 1.5em;
	}

	.deal-info ul li{
		border-bottom: 1px dashed #ccc;
		position: relative;
		padding: .75em 0;
	}

	.deal-info ul li:last-child{
		border-bottom: none;
	}

	.deal-info p{
		margin: .25em 0;
		font-weight: bold;
		font-size: .75em;
	}

	.deal-info h4{
		font-size: 1.25em;
		font-weight: normal;
		width: 85%;
		margin: .25em 0 .5em 0;
	}

	.expiration{
		color: #e21a1a;
	}

	.type, .number-used, .grey{
		color: rgba(0,0,0,.5);
	}

	.save{
		text-align: center;
		color: rgba(0,0,0,.4);
		position: absolute;
		top: .75em;
		right: 0;
		.star{
			position: relative;
			width: 30px;
			height:30px;
			.save-icon{
				position: absolute;
				top:0;
				right:0;
				left:0;
				bottom:0;
				margin:auto;
				z-index: 10;
				fill: #A3A195;
				&.inside{
					fill:white;
					z-index:5;
					&.clicked{
						fill: #ECDA1F;
					}
				}
			}
		}
	}

	p.smaller{
		font-size: .75em;
	}

	.save p{
		margin: 0;
	}

	.help-alert{
		background: #fffddd;
		color: #73726e;
		width: 100%;
		padding: 1em 0;
		text-align: center;
		position: relative;
		border-top: 1px solid #f0f0f0;
		font-size: .75em;
	}

	.help-alert .xout{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: .5em;
		width: 15px;
		height: 15px;
		border-radius: 100%;
		background: rgba(0,0,0,.25);
		color: rgba(255,255,255,.85);
		cursor: pointer;
		line-height: 15px;
		vertical-align: middle;
	}

	.favorites-cta{
		padding: 2em 2em 11em;
		text-align: center;
		background: url(../img/cityscape.png) no-repeat bottom center #fff;
	}

	.button{
		background: #602D6C;
		color: white;
		padding: .75em 1em .75em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-transform: uppercase;
		border-radius: .25em;
		width: 90%;
		&.button-small{
			font-size: .75em;
			padding: .5em .75em;
		}
		&.button-center{
			margin: auto;
		}
	}

	.sub-nav-pane{
		display: none;
		&.core-selected{
			display: block;
			//height: 100%;
			width: 100%;
		}
		&.map{
			height: 100%;
			margin-bottom: 64px;
		}
	}

	.subnav-selector{
		//height: 100%;
		width: 100%;
		&.map{
			height: 100%;
			margin-bottom: 64px;
		}
	}

	.map-container{
		height: 100%;
		width: 100%;
		position: relative;
	}

	.view-list, .view-map{
		width: 100%;
		padding: 1em;
		background: #602D6C;
		color: white;
		text-align: center;
	}

	.view-list{
		position: absolute;
		bottom:64px;
	}

	.blur{
		-webkit-filter: blur(5px);
		-o-filter: blur(5px);
		filter: blur(5px);
	}

	google-map{
		width: 100%;
		height: 100%;
	}

	google-map-marker{
		-webkit-transform: sacle(.75);
		-ms-transform: sacle(.75);
		-o-transform: sacle(.75);
		transform: sacle(.75);
	}

/* Put in Bottom Nav Element */

#bottom-nav{
	width: 100%;
	background-color: rgba(255,255,255, 1);
	position: fixed;
	margin: 0;
	bottom:0;
	left:0;
	z-index: 200;
	padding: .5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#bottom-tabs{
	color: #602D6C;
}

#bottom-tabs p{
	margin:0;
	font-size: .75em;
}

#bottom-tabs .icon-space{
	text-align: center;
}

.hidden{
	display: none !important;
}

.top-bumper{
	height: 105px;
}